In [1]:
import sqlite3
from sqlite3 import Error

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [3]:
query1 = main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [4]:
"""Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */
"""

db_file = "sqlite_db_pythonsqlite.db"
conn = create_connection(db_file)
cur = conn.cursor()

query1 =""" 
SELECT f.name AS facility, 
    SUM(CASE WHEN b.memid=0 THEN b.slots*f.guestcost
        ELSE b.slots*f.membercost END) AS revenue
FROM Bookings as b
JOIN Facilities as f
    ON b.facid=f.facid
GROUP BY f.name
HAVING revenue < 1000
ORDER BY revenue DESC
        """
cur.execute(query1)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

2.6.0
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [5]:
"""Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order """

conn = create_connection(db_file)
cur = conn.cursor()

query1 =""" 
SELECT m1.surname || " " || m1.firstname as member_name, m2.surname || " " || m2.firstname as recommender_name
FROM Members as m1
JOIN Members as m2
ON m1.memid = m2.recommendedby
WHERE m1.surname != 'GUEST'
ORDER BY member_name
"""
cur.execute(query1)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

2.6.0
('Bader Florence', 'Sarwin Ramnaresh')
('Baker Timothy', 'Coplin Joan')
('Butters Gerald', 'Genting Matthew')
('Farrell Jemima', 'Baker Timothy')
('Farrell Jemima', 'Pinker David')
('Genting Matthew', 'Rumney Henrietta')
('Jones David', 'Jones Douglas')
('Joplette Janice', 'Dare Nancy')
('Joplette Janice', 'Jones David')
('Purview Millicent', 'Hunt John')
('Rownam Tim', 'Boothe Tim')
('Smith Darren', 'Joplette Janice')
('Smith Darren', 'Butters Gerald')
('Smith Darren', 'Owen Charles')
('Smith Darren', 'Smith Jack')
('Smith Darren', 'Mackenzie Anna')
('Smith Tracy', 'Worthington-Smyth Henry')
('Smith Tracy', 'Purview Millicent')
('Smith Tracy', 'Crumpet Erica')
('Stibbons Ponder', 'Baker Anne')
('Stibbons Ponder', 'Bader Florence')
('Tracy Burton', 'Stibbons Ponder')

In [6]:
""" Q12: Find the facilities with their usage by member, but not guests """

conn = create_connection(db_file)
cur = conn.cursor()

query1 = """
SELECT f.name AS Facility,
    SUM(CASE WHEN b.memid > 0 THEN 1 ELSE 0 END) AS memberusage
FROM Facilities AS f
JOIN Bookings AS b ON b.facid=f.facid
GROUP BY f.name
"""
cur.execute(query1)
 
rows = cur.fetchall()
    
for row in rows:
    print(row)

2.6.0
('Badminton Court', 344)
('Massage Room 1', 421)
('Massage Room 2', 27)
('Pool Table', 783)
('Snooker Table', 421)
('Squash Court', 195)
('Table Tennis', 385)
('Tennis Court 1', 308)
('Tennis Court 2', 276)

In [7]:
""" Q13: Find the facilities usage by month, but not guests """

conn = create_connection(db_file)
cur = conn.cursor()

query1 = """
SELECT strftime('%m', b.starttime) as month, f.name as facility, SUM(CASE WHEN b.memid > 0 THEN 1 ELSE 0 END) AS memberusage
FROM Bookings as b
JOIN Facilities as f
ON b.facid=f.facid
GROUP BY month
"""

cur.execute(query1)
 
rows = cur.fetchall()
 
for row in rows:
    print(row)

2.6.0
('07', 'Table Tennis', 480)
('08', 'Tennis Court 1', 1168)
('09', 'Tennis Court 1', 1512)